* {
    box-sizing: border-box;
    padding: 0;
}


:root {
    --heading: 'Outfit', sans-serif;
    --main: "Roboto Condensed", sans-serif;
    --btn: "Roboto", sans-serif;
    --btns: "Poppins", sans-serif;
    --bg-primary: black !important;
}

.main-container {
    max-width: 1440px;
    width: 80%;
    padding-inline: 12px;
    margin: 0 auto;
}
.main-container-II{
    max-width: 1440px;
    width: 80%;
    padding-inline: 12px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1440px;
}
.row{
    margin: 0;
}

/* ================
+++++++++++++
Colors
++++++++++++++
================= */
.brown-- {
    background-color: #171D3F;
}

.green-- {
    color: #12C143;
}

.black-- {
    color: black;
}

.white-- {
    color: white;
}

.darkgrey-- {
    color:#524632;
}

.red-- {
    color: #E60023!important;
    
}

/* +++++++++++++
Style
++++++++++++ */
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.align-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
}


button {
    font-family: var(--btn);
}
.active{
    border-bottom:2px solid #12C143;
}