@import url(global.css);
@import url(typograpy.css);


/* +++++++++++++
    Header
++++++++++++ */
#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 9;
    border-bottom: .5px solid white;
}

.nav-links li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--main);
}

.nav-links a:hover,
.number a:hover {
    color: #12c144;
}

.number a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--main);
}

.nav-menus {
    display: flex;
    justify-content: space-between;
}


.toogle-menu-hidden {
    display: none;
}


/* +++++++++++++
Hero section
++++++++++++ */
#hero {
    min-height: calc(100vh - 65px);
    background-image: url(../photo/hero\ photo.jpg);
    background-position: center;
    background-size: cover;
    padding: 90px 0 40px 0;
    align-content: center;
}

.white {
    background-color: #524632e3;
    border-bottom: .5px solid #52463296 !important;
}

#hero .form {
    background-color: rgba(82, 70, 50, 0.5);
    padding: 40px 25px;
}

#hero .form select {
    width: 100%;
    padding: 10px 20px 10px 40px;
    font-family: var(--btn);
    font-size: clamp(10px, 4vw, 14px);
    color: rgba(0, 0, 0, 0.6);
    outline: thin #12c144;
    border: thin solid black;
    background-image: url(../photo/Vector\ 54.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 95% 50%;
    appearance: none;
}

#hero .form option {
    font-family: var(--btn);
    font-size: clamp(10px, 4vw, 14px);
    color: rgba(0, 0, 0, 1);
}

#hero input {
    width: 50%;
    padding: 10px 20px 10px 40px;
    font-family: var(--btn);
    font-size: clamp(10px, 4vw, 14px);
    border-radius: 0;
    outline: thin #12c144;
    border: thin solid rgba(0, 0, 0, 1);
    background-size: 12px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 10% 50%;
}

.red {
    background-image: url(../photo/red\ locatin\ vector.svg);
}

.green {
    background-image: url(../photo/location.svg);
}

form button {
    width: 100%;
    font-family: var(--btn);
    padding: 10px 20px 10px 40px;
    font-size: clamp(10px, 4vw, 14px);
    background-color: #12c144;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

/* +++++++++++++
  section-2
++++++++++++ */
#section-2 {
    background-color: #524632;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#section-2 .Read-more {
    font-size: clamp(12px, 3vw, 17px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 .content {
    font-size: clamp(12px, 3vw, 17px);
    font-weight: 400;

}

#section-2 .green-line {
    height: 3px;
    width: 70px;
    background-color: #12c144;
    border-radius: 10px;
}

/* +++++++++++++
  section-3
++++++++++++ */
#section-3 {
    padding: 20px 0;
}

.photo-column {
    place-content: center;
}

.small-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(8px, 4vw, 12px);
    font-weight: 700;
    font-family: var(--main);
}

.content-column {
    padding: 0 25px;
}


.content-column h2 {
    font-weight: 700;
}

#section-3 p {
    color: black;
    font-weight: 400;
}

#section-3 button {
    padding: 7px 45px;
    background-color: transparent;
    border: 2px solid #12c144;
    font-size: clamp(12px, 4vw, 17px);
    font-weight: 700;
    transition: .2s all ease-in-out;
}

#section-3 button:hover {
    background-color: #12c144;
}

#section-3 .box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #221e13ee;

}

/* <!--+++++++++++++
    client-logos 
    ++++++++++++--> */
#client-logos {
    padding: 50px 0;
}

#client-logos .logos img {
    padding: 0 30px;
}

/* <!--+++++++++++++
    services
    ++++++++++++--> */
#services {
    padding: 50px 0;
}
#services .green-box{
    max-width:70%;
    width: 900px;
    height: 100%;
    background-color: #F3FEF6;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#services .small-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(6px, 4vw, 12px);
    font-weight: 700;
    font-family: var(--main);
}

#services .services-h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#services .h2-width{
    max-width:310px ;
    text-align: center;
    font-weight: 700;
}
#services .p-width{
    max-width:530px ;
    text-align: center;
    color: black;
}
#services .card{
    flex: 1 0 0%;
    max-width: 290px;
    height: 390px;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
    
}
#services .card-title{
    font-family:var(--main);
    font-size: clamp(18px, 3vw, 25px);
    font-weight: 700;
}

#services .card p{
    color: black;
}
#services .green-line {
    height: 3px;
    width: 30px;
    background-color: #12c144;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}
#services .Read-more{
    margin-top: auto;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0!important;
    text-decoration: none;
    color: black;
    font-family: var(--main);
}
#services .ser-button{
    padding: 10px 50px;
    font-family: var(--btn);
    font-size: 17px;
    font-weight: 700;
    background-color:#12C143;
    border: 0;
}

/* <!--+++++++++++++
     work section
++++++++++++--> */
    #work{
    padding: 50px 0;
}
#work .h2-width{
    font-weight: 700;
}
.reviews{
    font-size:clamp(24px, 4vw, 34px)!important;
    width: 75%;
    /* height: 60px; */
    background-color: #524632;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #12C143;
}
#work span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 5px ;
}
#work h2{
    font-size:clamp(25px, 3vw, 34px);

}
#work .reviews p{
    font-size:14px;
}
/* <!--+++++++++++++
    Testimonials
    ++++++++++++--> */
    #testimonials{
        padding: 120px 0; 
        clear: both;
    }
    #testimonials .testimonials-h2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #testimonials .testimonials-p{
        width: 50%;
        text-align: center;
    }
    #testimonials .cards-div{
        display: flex;
        gap: 20px 50px ;
        border-radius: 0;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin-bottom: -250px;
    }
    #testimonials .card{
        flex: 0 0 30%;
        /* height: 270px; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 25px;
        box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
        border: 0;
        height: 100%;
        border-radius: 0px;
        max-width: 320px;

    }
    #testimonials .card p{
        font-size: 12px;
        text-align: center;
    }
    #testimonials .card h5{
        font-size: clamp(10px , 4vw, 15px);
        font-weight: 700;
        font-family: var(--main);
        text-align: center;
    }
    #testimonials .card h6{
        font-size: clamp(9px , 4vw, 13px);
        font-size: 13px;
        font-weight: 500;
        color: #12C143;
    }

    /* <!--+++++++++++++
         Footer
    ++++++++++++--> */
    #footer{
        padding: 150px 0 50px 0;
        background-color: #524632;
    }
    #footer .footer-input{
        width: 100%;
        padding: 12px 15px;
        border-radius: 0px;
        outline:#524632;
        border: 1px solid black;
        font-size: 14px;
        font-family: var(--btn);
    }
    #footer button{
     width: 100%;
     padding: 10px 15px;
     background-color: #12C143;   
     border: 0;
     font-weight: 700;
    }
    #footer .row-2{
        padding:80px 0 0px 0;
    }
    #footer h5{
        font-size:15px;
        font-weight: 700;
        font-family: var(--main);
        color: white;
    }
    #footer .links li{
        list-style-type: none;
        text-decoration: none;
    }
    #footer .links a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 700;

    }
     
    #footer .social-logo i{
        margin-top: 3px;
        width: 18px;
        height:18px;
        font-size: 10px;
        background-color: white;
        color:#524632;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .separater{
        width: 97%;
        margin: 0  auto 21px auto;
    }
    #footer .copywrite{
        text-align: center;
        font-size: 14px!important;
    }
    #footer .copywrite p{
        font-size: 14px!important;
        font-weight: 400px;
    }
    #footer .copywrite span{
        color: #12C143;
    }



/* +++++++++++++
About Us Page
++++++++++++ */
.hero-height{
    min-height: calc(70vh - 65px)!important;
    background-image: url(../photo/page-hero-section.jpg)!important;
    background-position: center;
    background-size: cover;
    padding: 90px 0 40px 0;
    align-content: center;
}
.abuot-us{
    max-width: 50%;
    width: 40%;
    height: 20%;
    background-color:#52463279;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding:35px 0; 
}
.page-2-reviews{
    font-size:clamp(24px, 4vw, 34px)!important;
    width: 75%;
    background-color: #524632;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #12C143;
}
.page-2-reviews span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 5px ;
}  
/* +++++++++++++
About section
++++++++++++ */
#about{
    padding: 100px 0 ;
} 
.img-group{
    
}
#about .box {
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70%;
    height: 80%;
    border: 5px solid #18E551;

}

/* <!--++++++++++++++++++
     TRANSPOTATION
+++++++++++++++++ --> */
#transportation{
    
}
#transportation h3,h2{
font-weight: 700;    
}

/* +++++++++++++
CLIENTLE
++++++++++++ */
#clientle{
    padding: 100px 0;    
}
#clientle .logos {
    padding: 50px 0;
}
#clientle .logos img {
    padding: 0 30px;
}
#clientle .logo-bg{
    background-color:#F3FEF6 ;
}
.testimonial-2{
    padding: 20px 0 120px 0!important;
}

/* +++++++++++++
Services page
++++++++++++ */
.service-height{
        min-height: calc(70vh - 65px)!important;
        background-image: url(../photo/services-bg-img.jpg)!important;
        background-position: center;
        background-size: cover;
        padding: 90px 0 40px 0;
        align-content: center;
}

/* +++++++++++++
Our Process
++++++++++++ */
#process{
    padding:100px 0;
   background-color: #F3FEF6;
    box-shadow: rgba(0, 0, 0, 0.15);
}
#process .step-heading{
    font-size:clamp(17px , 4vw, 30px) ;
    color:#34E867;
    font-weight: 700;
    font-family: var(--main);
    background-color: #524632;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    transform: translate(14px, -16px);
}
#process .step-heading .size{
    font-size:clamp(24px , 4vw,45px) ;
}
#process .label-card{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
#process h3{
    font-weight: 700;
}

/* +++++++++++++
WE ARE SPECIAL
++++++++++++ */
#special{
    padding: 100px 0;
}
#special .features-card{
    border: 3px solid black;
    padding: 0px 10px 10px 10px;
    text-align: center;
}
#special h5{
    font-family: var(--main);
    font-weight: 700;
    font-size: clamp(12px, 4vw, 18px);
    text-transform: capitalize;
}
#special .card-logo{
    transform: translate(0, -40px);
    margin-bottom: -20px;

}


/* +++++++++++++
Responsiveness
++++++++++++ */



@media only screen and (min-width: 1440px) {
    .abuot-us{
        width: 70%;
        padding:80px 0;
    }
    .page-2-reviews{
        width: 57%;
    }
    
}
@media only screen and (min-width: 1280px) {
    .main-container {
        max-width: 1440px;
        width: 90%;
        padding-inline: 12px;
        margin: 0 auto;
    }
    .main-container-II{
        max-width: 1920px;
        width: 90%;
        padding-inline: 12px;
        margin: 0 auto;
    }

    #hero input {
        padding: 10px 20px 10px 55px;
    }

    #hero .form select {
        padding: 10px 20px 10px 55px;
    }
    .abuot-us{
        width: 45%;
        padding:40px 0;
    }
   
 
}


@media only screen and (min-width: 1024px) {
    .main-container {
        max-width: 1440px;
        width: 80%;
        padding-inline: 12px;
        margin: 0 auto;
    }
    .main-container-II {
        max-width: 1920px;
        width: 90%;
        padding-inline: 12px;
        margin: 0 auto;
    }
    .nav-menus {
        display: block;
    }
    #services .card{
        max-width: 300px;
        height: 400px;
    }

 



}

@media only screen and (max-width: 1023px) {

    .main-container {
        max-width: 1440px;
        width: 95%;
        padding-inline: 12px;
        margin: 0 auto;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 8px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -8px) rotate(45deg);
    }

    .nav-menus {
        display: none;
    }

    .toogle-menu-hidden {
        position: fixed;
        right: -320px;
        top: 70px;
    }

    .open {
        right: 0 !important;
    }

    .toogle-menu-hidden a {
        color: white;
        padding: 15px 0;
        text-decoration: none;
        display: inline-block;
    }

    .toogle-menu-hidden {
        width: 100%;
        max-width: 320px;
        height: calc(100% - 70px);
        background-color: #524632d7;
        display: block;
        transition: all .5s linear;
        overflow-y: auto;
    }

    .toogle-menu-hidden li {
        list-style-type: none;
        font-weight: 500;
        text-align: center;
        transition: all .3s ease-in-out;
    }

    .toogle-menu-hidden li:hover {
        background-color: #12c14444;
    }

    .overlay-show {
        display: block;
    }

    #hero input {
        width: 100%;
        background-position: 3% 50%;

    }

    #client-logos .logos img {
        padding: 20px 0;
    }
    #services .card{
        max-width: 290px;
        height: 410px;
    }
    .reviews{
        bottom: -75px;
        width: 100%;
    }
    #work .reviews{
        flex-direction:row;
    }
    #testimonials .cards-div{
        gap: 20px
        
    }
    #testimonials .card{
        padding: 15px 15px;
    }
    #clientle .logos img {
        padding: 10px 16px;
    }
    #process .step-heading {
    font-size: clamp(17px , 3vw, 30px);
    padding:0 12px;
    transform: translate(0, 0);
}

}


@media only screen and (max-width: 767px) {
    .main-container {
        max-width: 1440px;
        width: 100%;
        padding-inline: 12px;
        margin: 0 auto;
    }
    .main-container-II {
        max-width: 1440px;
        width: 100%;
        padding-inline: 12px;
        margin: 0 auto;
    }


    #hero input {
        padding: 10px 20px 10px 55px;
    }

    #hero .form select {
        padding: 10px 20px 10px 55px;
    }

    /* +++++++++++++
  section-3
++++++++++++ */

    .content-column {
        padding: 0 10px;
    }
    #services .green-box{
        display: none;
    }
    #work .reviews{
        flex-direction: column;
        bottom: -200px;
    }
    .page-2-reviews{
        flex-direction: column;
        bottom: 0;
        width: 100%;
    }
    .page-2-reviews span{
        padding: 10px 0;
    }
    #testimonials .testimonials-p{
        width: 90%;
    }
    #testimonials .cards-div{
    padding: 10px 5px;
    }
    #testimonials .card{
    padding: 30px 15px;
    }
    .abuot-us{
        max-width: 60%;
        width: 60%;
        padding: 25px;
    }.hero-height{
        min-height: calc(80vh - 65px)!important;
    }
    #process .step-heading{
        transform: translate( 0, 0);
        padding: 0px 15px;
    }
}
